@font-face {
    font-family: 'Dolce';
    src: url('fonts/dolce_vita/Dolce Vita Light.ttf') format('truetype');
}

body{
  width: 100%;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  padding: 0;
  flex: auto;
  display: flex;
  box-sizing: content-box;
  /*
  -- using background position for img might make things easier. just a thought
  background-image: url('img/blue-heron3.png');
  background-position: 400px center;
  background-repeat: no-repeat;
  */
}
#info-holder {
  position: relative;
  top: -305px;
  left: -40px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.menu-item {
  list-style: none;
  height: 70px;
}
.menu-text {
  position: relative;
  top: 15px;
}
a {
  text-decoration: none;
  color: black;
}
.menu-link {
  opacity: 0;
}
.project {
  display: none;
}
h1 {
  height: 100%;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.menu-item:hover h1 {
  background: rgba(30, 255, 255, .3);
  opacity: 1;
}
#surround {
  width: 400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#heron {
  position: relative;
  top: 118px;
  height: 420px;
  width: 400px;
  margin: 0 auto;
  z-index: -1;
}
@media screen and (max-width: 400px) {
  .menu-item {
    list-style: none;
    margin: 0 auto;
    height: 70px;
    padding: 0;
    background: rgba(30, 255, 255, .3);
  }
  .menu-text {
    position: relative;
    top: 15px;
  }
  h1 {
    opacity: 1
  }
}
